extends layout

block content
  .top-bar
    a.button.top-logout(href='/auth/logout', style='float:right;') Log ud
  h1= title
  p Her kan du se og lave anmeldelser, eller registrere dit telefonnummer og få opdateringer fra os
  a(href='/phone')
    button Registrer telefonnummer
  a(href='/review')
    button Se og lav anmeldelser 
