extends layout

block content
  h1 Log ind
  form(action='/auth/login' method='POST')
    div
      label(for='email') Email:
      input(type='email' name='email' id='email' required)
    div
      label(for='password') Adgangskode:
      input(type='password' name='password' id='password' required)
    button(type='submit') Log ind
  p
    | Har du ikke en profil? 
    a(href='/auth/register') Opret ny profil
  if error
    p(style='color:red')= error
